html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  cursor: none;
}

#taplist {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#title {
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  margin: 0;
  padding-top: 2rem;
}

.tap-category {
  font-size: clamp(2rem, 4vw, 3.5rem);
  border-bottom: 2px solid var(--text-color);
  margin-block: 0;
}

.tap-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: var(--card-gap);
  width: 100%;
}

.tap-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  min-width: 300px;
  align-items: center;
}

.tap-image {
  width: 100px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.tap-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.tap-content h2 {
  font-size: var(--subheading-size);
  margin: 0;
}

.tap-content p {
  font-size: var(--font-size-body);
  margin: 0;
}
#taplist-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  padding-inline: 2rem;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#taplist-container.fade-out {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

#taplist-container.fade-in {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}
